go 1.19

use (
	./slice
	./pipe
	./func01
	./method1
	./interface/interface1
	./interface/interface2
	./fanxing
	./errors/errors1
	./errors/panic
	./channel/chan
	./channel/chan3
	./channel/chan4
	./channel/Channel-Non-Blocking
	./channel/channelBuffer
	./channel/channelClosing
	./channel/channelDirection
	./channel/channels
	./channel/channelSynchronization
	./channel/select
	./channel/select-timeouts
	./channel/stateful-goroutines
	./channel/runtimes
	./sort/sort1
	./sort/sortByFunc
	./string/str
	./string/fmt
	./string/template
	./string/regular
	./string/runes
	./xml
	./time
	./random
	./structall/struct
	./structall/struct_embed
	./structall/struct_embed2
	./structall/struct2
	./jsonall/json
	./jsonall/json2
	./jsonall/json3
	./jsonall/json4
	./crypto/sha256
	./crypto/base64
	./file/readfile
	./file/writefile
	./file/path
	./file/dir
	./file/temp
	./file/emberdir
	./test
	./commandLine/base
	./commandLine/flag
	./commandLine/subcommand
	./evn
	./http/client
	./http/server
	./http/context
	./process/spaw
	./process/exec
	./signal
	//测试
	./tt
	./convert
	//典型应用
	./typical-app/mapsort
)
